*.jpeg
CNVresearch/Models/deeplabv3_plus_ultra_model_2025_02_10_01_37_48.keras
*.png
*.npy

/QMUL/Dataset
/QMUL/DatasetSplit
/CoffeeBeans/coffee beans.v1i.coco/train
/CoffeeBeans/coffee beans.v1i.coco
/CoffeeBeans/coffee beans.v1i.coco_1/train
/CoffeeBeans/coffee beans.v1i.coco_1
.env
.env
